<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>testUtils</title>
</head>
<body>
<h1>Welcome to the text analyzer. Enter your text below</h1>
<form action='/analyze' method='get'>
    <textarea name='text' style='width: 697px; height: 129px;'></textarea><br>
    <input type='checkbox' name='removepunc'> Remove punc <br>
    <input type="checkbox" name="fullcaps"> Upper case <br>
    <input type="checkbox" name="newlineremove"> New line remover<br>
    <input type="checkbox" name="spaceRemove"> Space remover<br>
    <button type="submit">Analyze Text</button>

</form>

</body>
</html>